<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма для отправки данных</title>
</head>
<body>

<h1>Отправка данных</h1>

<form action="/confirm/" method="post" enctype="multipart/form-data">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" required>

    <label for="director">Директор:</label>
    <input type="text" id="director" name="director" required>

    <label for="price">Цена:</label>
    <input type="number" id="price" name="price" required>

    <label for="check">Русский язык:</label>
    <input type="checkbox" id="check" name="check" value="True">

    <label for="img">Обложка:</label>
    <input type="file" id="img" name="file" required>

    <label for="description">Описание:</label>
    <input type="file" id="description" name="description" required>

    <button type="submit">Отправить</button>
</form>

</body>
</html>
